<app-encabezado></app-encabezado>
<div class="vistaPrincipal">

    <div class="textoPrincipal">
        <div class="titulo">
            <h1 class="tituloPrincipal">¿Necesitas un amigo?</h1>
        </div>
        <div class="textoIntroduccion">
            <p class="pPrincipal text">Un lugar para reunir mascotas perdidas con sus hogares y dar una segunda oportunidad a aquellas que esperan ser adoptadas.</p>
            <p class="pSecundaria text">
                ¡Juntos podemos hacer la diferencia!
            </p>
        </div>

        <div class="botones">
            <button class="btnPublicar">Publicar</button>
            <button class="btnVerPublicaciones">Ver publicaciones</button>
        </div>

    </div>

    <div class="imagenPrincipal">
        <img src="../../../assets/imagenPrincipal.png" alt="Imagen principal animales">
    </div>

</div>

<section class="comoFunciona">

    <div class="titulo">
        <h2 class="tituloSeccionComoFunciona">Cómo funciona</h2>
    </div>

    <div class="contenedorCardsComoFunciona">

        <article class="cardComoFunciona publicarAvisos">
            <div class="contenidoCard">
                <figure class="icono">
                    <img class="imgCards" src="../../../assets/megafono.png" alt="Publicar Avisos">
                </figure>
                <div class="tituloCardComoFunciona">
                    <h3 class="tituloPrincipalCard">Publicar avisos</h3>
                </div>
                <div class="textoCardComoFunciona">
                    <p class="textoCards">Informá sobre tu mascota perdida o encontrada usando etiquetas.</p>
                </div>
            </div>
        </article>

        <article class="cardComoFunciona buscarMascotas">
            <div class="contenidoCard">
                <figure class="icono">
                    <img class="imgCards" src="../../../assets/lupa.png" alt="Buscar Mascotas">
                </figure>
                <div class="tituloCardComoFunciona">
                    <h3 class="tituloPrincipalCard">Buscar mascotas</h3>
                </div>
                <div class="textoCardComoFunciona">
                    <p class="textoCards">Accedé a nuestra base de datos para encontrar a tu mascota perdida.</p>
                </div>
            </div>
        </article>

        <article class="cardComoFunciona adoptar">
            <div class="contenidoCard">
                <figure class="icono">
                    <img class="imgCards" src="../../../assets/adoptar.png" alt="Adoptar">
                </figure>
                <div class="tituloCardComoFunciona">
                    <h3 class="tituloPrincipalCard">Adoptar</h3>
                </div>
                <div class="textoCardComoFunciona">
                    <p class="textoCards">¿Buscás un nuevo compañero de aventuras? ¡Accedé a las publicaciones y adoptá una mascota!</p>
                </div>
            </div>
        </article>

        <article class="cardComoFunciona recibirAlertas">
            <div class="contenidoCard">
                <figure class="icono">
                    <img class="imgCards" src="../../../assets/recibirAlertas.png" alt="Recibir Alertas">
                </figure>
                <div class="tituloCardComoFunciona">
                    <h3 class="tituloPrincipalCard">Recibir alertas</h3>
                </div>
                <div class="textoCardComoFunciona">
                    <p class="textoCards">Notificaciones personalizadas de mascotas perdidas en tu área.</p>
                </div>
            </div>
        </article>

    </div>

</section>

<section class="quienesSomos">
    <div class="contenedorImagenBordeDerecho">
        <img src="../../../assets/imagenIzquierda.png" alt="imagenIzquierda" class="imagenBordeIzquierdo">
    </div>

    <article class="articleQuienesSomos">
        <div class="contenedorTituloQuienesSomos">
            <h2 class="tituloQuienesSomos">Quiénes somos</h2>
        </div>
        <div class="contenedorTextoQuienesSomos">
            <p class="textoQuienesSomos">En Pets Connect creemos que cada mascota merece un hogar lleno de amor y seguridad. Somos un equipo apasionado, amantes de los animales y voluntarios dedicados a reunir a las mascotas perdidas con sus familias y a encontrar nuevos hogares para aquellas que han sido rescatadas.</p>
        </div>
    </article>
    
    <div class="contenedorImagenBordeDerecho">
        <img src="../../../assets/imagenDerecha.png" alt="imagenDerecha" class="imagenBordeDerecho">
    </div>

</section>

<section class="testimonios">

    <div class="contenedorTituloTestimonios">
        <h2 class="tituloTestimonios">Testimonios</h2>
    </div>

    <div class="contenedorCardsTestimonios">

        <div class="contenedorCardTestimonios">
            <article class="cardTestimonio">
                <div class="contenedorIconoTestimonios">
                    <img class="iconoCardTestimonio" src="../../../assets/comillasCardTestimonio.png" alt="Icono Comillas">
                </div>
                <div class="contenedorTextoTestimonios">
                    <p class="textoTestimonio">“Gracias a todos por acompañar mi busqueda, en especial a Florencia por cuidarlo. ¡Ramón ya esta en casa!.”</p>
                </div>
                <div class="contenedorPerfilTestimonios">
                    <div class="contenedorImagenPerfilTestimonios">
                        <img class="imagenPerfilTestimonios" src="../../../assets/imagenPerfil1.jpg" alt="Imagen Perfil 1">
                    </div>
                    <div class="contenedorNombreUbicacionTestimonios">
                        <div class="contenedorNombrePerfilTestimonio">
                            <p class="nombrePerfilTestimonio">María y Ramón</p>
                        </div>
                        <div class="contenedorUbicacioPerfilTestimonio">
                            <p class="ubicacionPerfilTestimonio">Las Heras, Mendoza</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
        <div class="contenedorCardTestimonios">
            <article class="cardTestimonio">
                <div class="contenedorIconoTestimonios">
                    <img class="iconoCardTestimonio" src="../../../assets/comillasCardTestimonio.png" alt="Icono Comillas">
                </div>
                <div class="contenedorTextoTestimonios">
                    <p class="textoTestimonio">“Estoy sorprendido, reuní a un perrito perdido con su familia en pocas horas. ¡Excelente plataforma, recomiendo!”</p>
                </div>
                <div class="contenedorPerfilTestimonios">
                    <div class="contenedorImagenPerfilTestimonios">
                        <img class="imagenPerfilTestimonios" src="../../../assets/imagenPerfil2.jpg" alt="Imagen Perfil 2">
                    </div>
                    <div class="contenedorNombreUbicacionTestimonios">
                        <div class="contenedorNombrePerfilTestimonio">
                            <p class="nombrePerfilTestimonio">Emiliano</p>
                        </div>
                        <div class="contenedorUbicacioPerfilTestimonio">
                            <p class="ubicacionPerfilTestimonio">Parque Patricios, CABA</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
        <div class="contenedorCardTestimonios">
            <article class="cardTestimonio">
                <div class="contenedorIconoTestimonios">
                    <img class="iconoCardTestimonio" src=".../../../assets/comillasCardTestimonio.png" alt="Icono Comillas">
                </div>
                <div class="contenedorTextoTestimonios">
                    <p class="textoTestimonio">“Gracias a la plataforma hoy tengo un nuevo amigo, adopté a Samba, un gatito adorable. ¡Adopta, no compres!”</p>
                </div>
                <div class="contenedorPerfilTestimonios">
                    <div class="contenedorImagenPerfilTestimonios">
                        <img class="imagenPerfilTestimonios" src="../../../assets/imagenPerfil3.jpg" alt="Imagen Perfil 3">
                    </div>
                    <div class="contenedorNombreUbicacionTestimonios">
                        <div class="contenedorNombrePerfilTestimonio">
                            <p class="nombrePerfilTestimonio">Tamara</p>
                        </div>
                        <div class="contenedorUbicacioPerfilTestimonio">
                            <p class="ubicacionPerfilTestimonio">Quilmes, Buenos Aires</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div>

</section>

<section class="nuestraComunidad">

    <div class="contenedorContenidoNuestraComunidad">

        <div class="contenedorTextoNuestraComunidad">
            <div class="contenedorTituloNuestraComunidad">
                <h2 class="tituloNuestraComunidad">¡Unite a Nuestra Comunidad!</h2>
            </div>
            <div class="contenedorTextoNuestraComunidad">
                <p class="textoNuestraComunidad separacionTextoNuestraComunidad">Al registrarte en <b>Pets Connect</b>, te convertís en parte de una red solidaria dedicada a ayudar a las mascotas perdidas y rescatadas. </p>
                <p class="textoNuestraComunidad separacionTextoNuestraComunidad">Tu participación ayuda a expandir nuestra red y a ofrecer más esperanza a las mascotas y sus familias. </p>
                <p class="textoNuestraComunidad"><b>¡Registrate hoy y forma parte de este esfuerzo colectivo!</b></p>
            </div>
            <div class="contenedorBotonNuestraComunidad">
                <button class="botonNuestraComunidad" routerLink="/registro">Registrarme</button>
            </div>
        </div>
        <div class="contenedorImagenNuestraComunidad">
            <img class="imagenNuestraComunidad" src="../../../assets/nuestraComunidad.png" alt="Unete a nuestra comunidad">
        </div>

    </div>

</section>

<app-pie-de-pagina></app-pie-de-pagina>