<!-- Título principal -->
<div class="titulo-principal-container">
  <h1 class="titulo-principal">Publica una mascota</h1>
</div>

<div class="main-container">
  <!-- Columna izquierda -->
  <div class="left-column">
      <div class="container">
          <!-- Contenedor de Especie y Sexo -->
          <div class="species-sex-container">
              <!-- Especie del animal -->
              <div class="species-container">
                  <h3><strong>Especie del animal *</strong></h3>
                  <p>Seleccione el tipo de mascota que vas a publicar</p>
                  <div>
                      <div class="option-button" [ngClass]="{'selected': selectedEspecie === 'perro'}"
                          (click)="selectEspecie('perro')">
                          Perro
                      </div>
                      <div class="option-button" [ngClass]="{'selected': selectedEspecie === 'gato'}"
                          (click)="selectEspecie('gato')">
                          Gato
                      </div>
                      <div class="option-button" [ngClass]="{'selected': selectedEspecie === 'otro'}"
                          (click)="selectEspecie('otro')">
                          Otro
                      </div>
                  </div>
              </div>

              <!-- Sexo -->
              <div class="sex-container">
                  <h3><strong>Sexo *</strong></h3>
                  <p>Seleccione el sexo</p>
                  <div>
                      <div class="option-button" [ngClass]="{'selected': selectedSexo === 'macho'}"
                          (click)="selectSexo('macho')">
                          Macho
                      </div>
                      <div class="option-button" [ngClass]="{'selected': selectedSexo === 'hembra'}"
                          (click)="selectSexo('hembra')">
                          Hembra
                      </div>
                  </div>
              </div>
          </div>

          <!-- Nombre del animal -->
          <div class="input-container">
              <h3><strong>Nombre del animal</strong></h3>
              <p>Indica el nombre de la mascota, si no lo sabes puedes saltarte este campo</p>
              <input type="text" placeholder="Nombre de la mascota" class="custom-input">
          </div>

          <!-- Ubicación -->
          <div class="input-container">
              <h3><strong>Ubicación *</strong></h3>
              <p>Indica la ubicación que mejor corresponda a la situación</p>
              <div class="ubicacion-fields">
                  <select class="custom-select">
                      <option value="provincia1">Provincia 1</option>
                      <option value="provincia2">Provincia 2</option>
                  </select>
                  <select class="custom-select">
                      <option value="ciudad1">Ciudad 1</option>
                      <option value="ciudad2">Ciudad 2</option>
                  </select>
                  <select class="custom-select">
                      <option value="localidad1">Localidad 1</option>
                      <option value="localidad2">Localidad 2</option>
                  </select>
              </div>
          </div>

          <!-- Fecha -->
          <div class="input-container">
              <h3><strong>Fecha *</strong></h3>
              <p>Indica la fecha en la que perdiste, encontraste o das en adopción a la mascota</p>
              <input type="date" class="custom-input">
          </div>

          <!-- Color del animal -->
          <div class="input-container">
              <h3><strong>Color del animal *</strong></h3>
              <p>Selecciona el color que más se adapte a la mascota</p>
              <div class="color-options">
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'negro'}"
                      (click)="selectColor('negro')">
                      Negro
                  </div>
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'blanco'}"
                      (click)="selectColor('blanco')">
                      Blanco
                  </div>
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'gris'}"
                      (click)="selectColor('gris')">
                      Gris
                  </div>
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'marron'}"
                      (click)="selectColor('marron')">
                      Marrón
                  </div>
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'amarillo-beige'}"
                      (click)="selectColor('amarillo-beige')">
                      Amarillo/Beige
                  </div>
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'multicolor'}"
                      (click)="selectColor('multicolor')">
                      Multicolor
                  </div>
                  <div class="option-button" [ngClass]="{'selected': selectedColor === 'otro'}"
                      (click)="selectColor('otro')">
                      Otro
                  </div>
              </div>
          </div>

          <!-- Contacto -->
          <div class="input-container">
              <h3><strong>Contacto *</strong></h3>
              <p>Indica el medio por el cual te gustaría ser contactado, podes incluir tu número o correo electrónico
              </p>
              <div class="contacto-fields">
                  <input type="email" placeholder="Ingresa el correo electrónico" class="custom-input">
                  <input type="tel" placeholder="Ingresa el número telefónico" class="custom-input">
              </div>
          </div>
      </div>
  </div>

  <!-- Columna derecha -->
  <div class="right-column">
      <!-- Agrega Fotos -->
      <div class="fotos-container">
          <h3><strong>Agrega Fotos</strong></h3>
          <p>Agrega hasta 3 fotos de la mascota para brindar más detalles sobre el aspecto de la misma</p>
          <div class="foto-card" (click)="openFileInput()">
              <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
              <span>+</span>
          </div>
      </div>

      <!-- Descripción -->
      <div class="descripcion-container">
          <h3><strong>Descripción</strong></h3>
          <p>Escribe información que consideres necesaria sobre la mascota</p>
          <textarea class="custom-textarea" placeholder="Escribe aquí..." maxlength="500"></textarea>
          <div class="char-counter">0/500</div>
      </div>

      <!-- Palabras Claves -->
      <div class="palabras-claves-container">
          <h3><strong>Palabras Claves</strong></h3>
          <p>Selecciona algunas palabras claves con rasgos característicos para la mascota</p>
          <div class="palabras-claves-options">
              <div class="option-button" *ngFor="let palabra of palabrasClaves"
                  [ngClass]="{'selected': selectedPalabras.includes(palabra)}" (click)="togglePalabra(palabra)">
                  {{ palabra }}
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Botón Publicar -->
<div class="boton-publicar-container">
  <button class="boton-publicar">Publicar</button>
</div>