<footer class="footer">

    <div class="contenedorPrimeraInformacionFooter">
        <div class="contenedorLogoYRedesSociales">
            <img class="logoPetsConnectFooter" src="../../../assets/logoPetsConnect.png" alt="Pets Connect Logotipo">
            <div class="contenedorIcons">
                <img class="iconRedesSociales" src="../../../assets/iconoFacebook.png" alt="Facebook">
                <img class="iconRedesSociales" src="../../../assets/iconoInstagram.png" alt="Instagram">
            </div>
        </div>
        <div class="contenedorTextoRutas">
            <ul>
                <li class="rutasFooter"><a class="rutasFooter" href="">Quiénes somos</a></li>
                <li class="rutasFooter"><a class="rutasFooter" href="">FAQ</a></li>
                <li class="rutasFooter"><a class="rutasFooter" href="">Contacto</a></li>
            </ul>
        </div>
    </div>
    <hr class="lineaSeparadoraFooter">
    <div class="contenedorUltimaInformacionFooter">
        <div class="contenedorTextoIzquierdaFooter">
            <p class="textoFinalFooter">©2025 Desarrollado con fines educativos</p>
        </div>
        <div class="contenedorTextoDerechaFooter">
            <p class="textoFinalFooter">Políticas de privacidad</p>
            <p class="textoFinalFooter">Términos y Condiciones</p>
        </div>
    </div>

</footer>