<div class="container">
    <h2>Ver más mascotas perdidas</h2>
    <div class="mascotas-grid">
        <div *ngFor="let mascota of mascotasVisibles" class="mascota-card">
            <img *ngIf="mascota.fotos && mascota.fotos.length > 0" [src]="'http://localhost:3000' + mascota.fotos[0].url" alt="Mascota">
            <h3>{{mascota.nombre}}</h3>
            <p><i class="fa-solid fa-calendar"></i> Visto por última vez: {{ mascota.fechaExtravio | date:'dd/MM/yyyy' }}</p>
            <p><i class="fa-solid fa-location-dot"></i> {{mascota.ultimaUbicacion}}</p>
            <p><strong>Descripción:</strong> {{mascota.descripcion}}</p>
            <button class="btn-ver-mas" (click)="onVerMas(mascota)">Ver más</button>
        </div>
    </div>
</div>
