<header class="header">

    <div class="logoPetsConnect">
        <img class="imagenLogo"  routerLink="/" src="assets/logoPetsConnect.png" alt="Pets Connect Logotipo">
    </div>
    <div class="enlacesHeader">
        <a class="linkHeader" routerLink="/quienessomos">¿Quiénes somos?</a>
        <a class="linkHeader" routerLink="/faq">FAQ</a>
        <a class="linkHeader" href="">Ver publicaciones</a>
    </div>
    
    <ng-container *ngIf="!isLoading">
        <div class="btnIniciarSesion" *ngIf="!isAuthenticated">
            <button class="btnIniciarSesion" (click)="openLogin()">Iniciar sesión</button>
        </div>

        <button  mat-button class="logout-button" *ngIf="isAuthenticated">
            <span (click)="logout()">Cerrar sesión</span>
            <div class="separator"></div>
            <span class="material-symbols-outlined" routerLink="/dashboard">account_circle</span>
        </button>
    </ng-container>
   
</header>

<app-login *ngIf="showLogin" (onClose)="closeLogin()"></app-login>
<app-registro *ngIf="showRegistro" (onClose)="closeRegistro()"></app-registro>

