<app-encabezado></app-encabezado>
<main>
  <article class="nuestra-mision">
    <section class="contenido-nuestra-mision">
      <img src="/assets/figura.png" alt="" />
      <div class=".contenido-nuestra-mision-flex">
        <h1>Nuestra misión</h1>
        <p class="inter-p">
          Es proporcionar una plataforma centralizada y eficiente donde las
          personas puedan publicar y buscar mascotas perdidas, así como promover
          la adopción de animales rescatados. Nos esforzamos por ser una fuente
          de esperanza y apoyo para los dueños de mascotas y las comunidades de
          rescate animal.
        </p>
      </div>
    </section>
  </article>
  <article class="que-hacemos">
    <h2>¿Qué hacemos?</h2>
    <section class="contenido-que-hacemos">
      <img src="/assets/punto.png" alt="" />
      <p class="inter-p">
        <strong>Difusión de Mascotas Perdidas:</strong> Facilitamos la publicación y búsqueda de
        mascotas perdidas, ayudando a que las familias se reúnan con sus seres
        queridos peludos lo más rápido posible.
      </p>
    </section>
    <section class="contenido-que-hacemos">
      <img src="/assets/punto.png" alt="" />
      <p class="inter-p">
        <strong>Difusión de Mascotas Perdidas:</strong> Facilitamos la publicación y búsqueda de
        mascotas perdidas, ayudando a que las familias se reúnan con sus seres
        queridos peludos lo más rápido posible.
      </p>
    </section>
  </article>
  <article class="nuestro-compromiso">
    <section class="contenido-nuestro-compromiso">
      <h2>Nuestro compromiso</h2>
      <p class="inter-p">
        Estamos comprometidos con la transparencia, la integridad y el bienestar
        animal. Creemos en el poder de la comunidad y en la importancia de
        trabajar juntos para hacer una diferencia en la vida de las mascotas y
        sus familias.
      </p>
      <p class="inter-p">
        Unite! Ya sea que estés buscando a tu mascota perdida, dispuesto a
        adoptar, o simplemente quieras apoyar nuestra causa, te invitamos a
        unirte a nuestra comunidad. Juntos podemos crear un mundo mejor para
        todas las mascotas.
      </p>
    </section>
    <img src="/assets/animales.png" alt="" />
  </article>
</main>
<app-pie-de-pagina></app-pie-de-pagina>
