<!-- Overlay para difuminar el fondo -->
<div class="overlay" (click)="close()"></div>

<!-- Contenedor del login -->
<div class="login-container">
  <!-- Botón de cierre -->
  <button class="close-button" (click)="close()">X</button>

  <h2>Iniciar sesión</h2>
  <div class="login">
    <label for="email">Correo electrónico</label>
    <input type="email" [(ngModel)] = "email" id="email" placeholder="ejemplo@email.com" required />

    <label for="password">Contraseña</label>
    <input type="password" [(ngModel)] = "password" id="password" required />

    <a href="#" class="forgot-password" routerLink="/solicitarcodigo">¿Olvidaste tu contraseña?</a>

    <button type="submit" (click)="login()">Iniciar sesión</button>
    <button type="button" class="google-login">Iniciar sesión con Google</button>
    <div id="buttonDiv"></div>
  </div>
  <p>¿No tenés una cuenta? <a routerLink="/registro">Registrate aquí</a></p>
</div>





