<div id="login">
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="email" [(ngModel)] = "email"> <!-- Two way bindind, banana in box -->
    <!-- ngModel establece una variable que se comunica con typescript-->
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" [(ngModel)] = "password">
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="recordar" [(ngModel)]="recordar">
    <label class="form-check-label" for="exampleCheck1">Recordar</label>
  </div>

  <div class="lblsolicitar" routerLink="/solicitarcodigo">¿Olvidaste tu contraseña?</div>

  <button type="submit" class="btn btn-primary" (click)="login()">Iniciar sesion</button>
  
</div>

<div id="buttonDiv"></div>



