<app-encabezado></app-encabezado>
<main>
  <article>
    <section class="faq">
      <h1>Preguntas frecuentes</h1>

      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Cómo funciona Pets Connect?</h2>
        <p>
          Pets Connect es una plataforma centralizada y eficiente donde las
          personas pueden publicar y buscar mascotas perdidas, así como promover
          la adopción de animales rescatados.
        </p>
      </div>
      <div class="img-content">
        <img src="/assets/figura derecha.png" alt="" />
      </div>
    </section>
    <section class="faq-content">
      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Cómo puedo registrarme en la plataforma?</h2>
        <p>
          Podés registrarte haciendo clic en el botón "Registrarme" en la página
          principal y siguiendo las instrucciones para crear una cuenta.
        </p>
      </div>
    </section>
    <section class="faq-content">
      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Cómo puedo reportar una mascota perdida?</h2>
        <p>
          Iniciá sesión en tu cuenta, dirigite a la sección "Mascotas Perdidas"
          y completá el formulario con la información de tu mascota, incluyendo
          una foto, descripción, y la última ubicación donde fue vista.
        </p>
      </div>
    </section>
    <section class="faq-content">
      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Cómo puedo poner una mascota en adopción?</h2>
        <p>
          Iniciá sesión y ve a la sección "Adopción". Completá el formulario con
          la información de la mascota, incluyendo fotos, descripción, y
          cualquier requisito especial para la adopción.
        </p>
      </div>
    </section>
    <section class="faq-content">
      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Qué debo hacer si encuentro a mi mascota?</h2>
        <p>
          Si encontrás a tu mascota, iniciá sesión en tu cuenta de Pets Connect
          con tu nombre de usuario y contraseña. Luego, ve a la sección “Mis
          Publicaciones” y busca la publicación de tu mascota. Haz clic en
          “Eliminar Publicación” o “Marcar como Encontrada” para indicar que ya
          la encontraste y eliminar la publicación de la lista de mascotas
          perdidas. Esto ayuda a mantener la plataforma actualizada y evita
          confusiones.
        </p>
      </div>
    </section>
    <section class="faq-content">
      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Cómo puedo ayudar a buscar mascotas perdidas en mi área?</h2>
        <p>
          Puedés navegar por la sección "Mascotas Perdidas" y filtrar los
          resultados por ubicación para ver las mascotas perdidas cerca tuyo.
          También puedés compartir los reportes en redes sociales para aumentar
          la visibilidad.
        </p>
      </div>
    </section>
    <section class="faq-content">
      <img src="/assets/punto.png" alt="" />
      <div class="faq-write">
        <h2>¿Qué debo hacer si estoy interesado en adoptar una mascota?</h2>
        <p>
          Navegá por la sección "Adopción" y filtrá los resultados según tus
          preferencias. Cuando encuentres una mascota que te interese, podés
          contactar al dueño a través de la plataforma para obtener más
          información y coordinar la adopción.
        </p>
      </div>
    </section>
  </article>
</main>
<app-pie-de-pagina></app-pie-de-pagina>
